.gpt-slider__content {
  text-align: center;
  width: 100%;
  max-width: 530px;
  position: relative;
  z-index: 1;
  padding: 0 50px;
}
.gpt-slider__content .slide-title {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
.gpt-slider__content .slide-description {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
}
.gpt-slider__content .slide-button {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 3px;
  display: inline-block;
  border: 2px solid #fff;
  color: #fff;
}
.gpt-slider__content .slide-button:hover {
  background: rgba(255, 255, 255, 0.2);
  border-color: transparent;
  border-radius: 0;
}

.slider-image {
  position: relative;
  height: 500px;
}
.slider-image:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background: #000;
}
.slider-image img {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}

.slider-image {
  position: relative;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination.swiper-pagination-bullets {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.gpt-slider .swiper-button-next, .gpt-slider .swiper-button-prev {
  transition: all 0.3s ease;
}
.gpt-slider .swiper-button-next:after, .gpt-slider .swiper-button-prev:after {
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  font-size: 25px;
  color: #fff;
  font-weight: 700;
}
.gpt-slider .swiper-button-next {
  right: -40px;
}
.gpt-slider .swiper-button-prev {
  left: -40px;
}
.gpt-slider:hover .swiper-button-next, .gpt-slider:hover .swiper-button-prev {
  opacity: 1;
}
.gpt-slider:hover .swiper-button-next {
  right: 20px;
}
.gpt-slider:hover .swiper-button-prev {
  left: 20px;
}
.gpt-slider .swiper-slide.swiper-slide-active .gpt-slider__content {
  opacity: 1;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeBottom;
  animation-name: fadeBottom;
}

.gpt-slider__wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.gpt-slider .swiper-pagination .swiper-pagination-bullet {
  height: 7px;
  width: 7px;
  transition: all 0.3s ease-in-out;
  position: relative;
  opacity: 1;
  background: hsla(0, 0%, 100%, 0.5);
  outline: 0;
  margin: 0 3px !important;
}
.gpt-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fff;
}
/*# sourceMappingURL=app.css.map */
